section.section-m50.articles-template-section
    .container
        h2.klazdor__title-h2.klazdor__title-h2-with-link-bot.articles-template__title Акции Выгодные предложения
        a(href="#").klazdor-link.klazdor-link--blue Показать все товары
        .articles-template
            a(href="#").articles-template-item
                .articles-template-item__img
                    img(src="assets/img/articles-template/1.png", alt="")
                .articles-template-item__text Дачный сезон: согревающие скидки!
            a(href="#").articles-template-item
                .articles-template-item__img
                    img(src="assets/img/articles-template/2.png", alt="")
                .articles-template-item__text Ортопедические стельки: три пары по цене двух!
            a(href="#").articles-template-item
                .articles-template-item__img
                    img(src="assets/img/articles-template/3.png", alt="")
                .articles-template-item__text 1+1=3: компрессионный трикотаж и силиконовые изделия