section.section-m50.catalog-slider-img-section
    .container
        .catalog-slider-img-wrap
            .catalog-slider-img
                .catalog-slider-img-item-wrap
                    .catalog-slider-img-item    
                        .catalog-slider-img-item__img
                            img(src="assets/img/popular-categories/1.png", alt="")
                        a(href="#").catalog-slider-img-item__title КОМПРЕССИОННЫЙ ТРИКОТАЖ
                        .catalog-slider-img-item__buy
                            a(href="#") КУПИТЬ
                .catalog-slider-img-item-wrap    
                    .catalog-slider-img-item
                        .catalog-slider-img-item__img
                            img(src="assets/img/banner-slider/2.png", alt="")
                        a(href="#").catalog-slider-img-item__title ИЗГОТОВЛЕНИЕ ИНДВИДУАЛЬНЫХ СТЕЛЕК
                        .catalog-slider-img-item__buy
                            a(href="#") КУПИТЬ
                .catalog-slider-img-item-wrap
                    .catalog-slider-img-item
                        .catalog-slider-img-item__img
                            img(src="assets/img/banner-slider/3.png", alt="")
                        a(href="#").catalog-slider-img-item__title ОРТОПЕДИЧЕСКИЕ ИЗДЕЛИЯ OTTOBOCK
                        .catalog-slider-img-item__buy
                            a(href="#") КУПИТЬ
                .catalog-slider-img-item-wrap  
                    .catalog-slider-img-item  
                        .catalog-slider-img-item__img
                            img(src="assets/img/banner-slider/3.png", alt="")
                        a(href="#").catalog-slider-img-item__title ОРТОПЕДИЧЕСКИЕ ИЗДЕЛИЯ OTTOBOCK
                        .catalog-slider-img-item__buy
                            a(href="#") КУПИТЬ