section.main-slider
    .container
        .main-slider-body
            .main-slider-item
                .main-slider-item__img
                    img(src="assets/img/main-slider/1.jpeg", alt="")
            .main-slider-item
                .main-slider-item__img
                    img(src="assets/img/main-slider/1.jpeg", alt="")