section.news-template-section.section-m50
    .container
        h2.klazdor__title-h2.klazdor__title-h2-with-link-bot.news-template__title Новости
        a(href="#").klazdor-link.klazdor-link--blue Показать все новости
        .news-template
            .news-template-item-wrap
                .news-template-item
                    .news-template-item__img
                        img(src="assets/img/news-template/1.png", alt="1")
                    .news-template-item__date 21.04.2021
                    .news-template-item__desc Открытие второго салона "Кладовая Здоровья" в г. Набережные Челны
            .news-template-item-wrap
                .news-template-item
                    .news-template-item__img
                        img(src="assets/img/news-template/2.png", alt="1")
                    .news-template-item__date 14.04.2021
                    .news-template-item__desc "Кладовая Здоровья" теперь и в городе Саров
            .news-template-item-wrap
                .news-template-item
                    .news-template-item__img
                        img(src="assets/img/news-template/3.png", alt="1")
                    .news-template-item__date 31.03.2021
                    .news-template-item__desc Открытие "Кладовой Здоровья" в городе Златоуст
            .news-template-item-wrap
                .news-template-item
                    .news-template-item__img
                        img(src="assets/img/news-template/4.png", alt="1")
                    .news-template-item__date 17.10.2021
                    .news-template-item__desc Дисконт-салоны "Кладовая Здоровья"
section.articles-template-section
    .container
        h2.klazdor__title-h2.klazdor__title-h2-with-link-bot.articles-template__title Статьи
        a(href="#").klazdor-link.klazdor-link--blue Показать все статьи
        .articles-template#articles-block
            .articles-template-item-wrap
                a(href="#").articles-template-item
                    .articles-template-item__img
                        img(src="assets/img/articles-template/4.png", alt="")
                    .articles-template-item__text Сколько потребуется времени, чтобы оправиться от мастэктомии?
            .articles-template-item-wrap
                a(href="#").articles-template-item
                    .articles-template-item__img
                        img(src="assets/img/articles-template/5.png", alt="")
                    .articles-template-item__text Плохой сон во время беременности
            .articles-template-item-wrap
                a(href="#").articles-template-item
                    .articles-template-item__img
                        img(src="assets/img/articles-template/6.png", alt="")
                    .articles-template-item__text Восстановление после кесарево сечения