section.partners-slider-section
    .container
        h2.klazdor__title-h2.klazdor__title-h2-with-link-bot.partners-slider__title Наши партнёры
        a(href="#").klazdor-link.klazdor-link--blue Показать все товары
        .partners-slider-wrap
            .partners-slider
                .partners-slider-item
                    .partners-slider-item__img
                        img(src="assets/img/partners-slider/1.png", alt="")
                .partners-slider-item
                    .partners-slider-item__img
                        img(src="assets/img/partners-slider/2.jpeg", alt="")
                .partners-slider-item
                    .partners-slider-item__img
                        img(src="assets/img/partners-slider/3.jpeg", alt="")
                .partners-slider-item
                    .partners-slider-item__img
                        img(src="assets/img/partners-slider/4.jpeg", alt="")
                .partners-slider-item
                    .partners-slider-item__img
                        img(src="assets/img/partners-slider/5.jpeg", alt="")
                .partners-slider-item
                    .partners-slider-item__img
                        img(src="assets/img/partners-slider/6.jpeg", alt="")
                .partners-slider-item
                    .partners-slider-item__img
                        img(src="assets/img/partners-slider/7.png", alt="")
                .partners-slider-item
                    .partners-slider-item__img
                        img(src="assets/img/partners-slider/1.png", alt="")