section.section-m50.popular-categories-section
    .container
        .popular-categories
            h2.klazdor__title-h2.popular-categories__title Популярные категории
            .popular-categories-cards
                a(href="#").popular-categories-cards-item
                    .popular-categories-cards-item__img
                        img(src="assets/img/popular-categories/1.png", alt="1")
                    .popular-categories-cards-item__desc Компрессионный трикотаж
                a(href="#").popular-categories-cards-item
                    .popular-categories-cards-item__img
                        img(src="assets/img/popular-categories/2.png", alt="1")
                    .popular-categories-cards-item__desc Ортопедические стельки
                a(href="#").popular-categories-cards-item
                    .popular-categories-cards-item__img
                        img(src="assets/img/popular-categories/3.jpeg", alt="1")
                    .popular-categories-cards-item__desc Фиксаторы суставов
                a(href="#").popular-categories-cards-item
                    .popular-categories-cards-item__img
                        img(src="assets/img/popular-categories/4.jpeg", alt="1")
                    .popular-categories-cards-item__desc Корсеты и корректоры осанки
                a(href="#").popular-categories-cards-item
                    .popular-categories-cards-item__img
                        img(src="assets/img/popular-categories/5.png", alt="1")
                    .popular-categories-cards-item__desc Ортопедические подушки
                a(href="#").popular-categories-cards-item
                    .popular-categories-cards-item__img
                        img(src="assets/img/popular-categories/1.png", alt="1")
                    .popular-categories-cards-item__desc Компрессионный трикотаж
                a(href="#").popular-categories-cards-item
                    .popular-categories-cards-item__img
                        img(src="assets/img/popular-categories/2.png", alt="1")
                    .popular-categories-cards-item__desc Ортопедические стельки
                a(href="#").popular-categories-cards-item
                    .popular-categories-cards-item__img
                        img(src="assets/img/popular-categories/3.jpeg", alt="1")
                    .popular-categories-cards-item__desc Фиксаторы суставов
                a(href="#").popular-categories-cards-item
                    .popular-categories-cards-item__img
                        img(src="assets/img/popular-categories/4.jpeg", alt="1")
                    .popular-categories-cards-item__desc Корсеты и корректоры осанки
                a(href="#").popular-categories-cards-item
                    .popular-categories-cards-item__img
                        img(src="assets/img/popular-categories/5.png", alt="1")
                    .popular-categories-cards-item__desc Ортопедические подушки