extends ../layouts/_main-page.pug
block sections
  include ../includes/main-slider.pug
  include ../includes/short-banner.pug
  include ../includes/popular-categories.pug
  include ../includes/catalog-slider.pug
  include ../includes/partners-slider.pug
  include ../includes/articles-template.pug
  include ../includes/banner-bot.pug
  include ../includes/catalog-banner.pug
  include ../includes/news-template.pug
  include ../includes/_main.pug