.header {
    font-family: 'Open Sans';
    &-body {
        padding: 22px 25px 5px 25px;
    }
    &-bot {
        margin-top: 10px;
    }
    &-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-location {
        margin-right: 10px;
        display: flex;
        align-items: center;
        &__text {
            margin-left: 10px;
            font-size: 16px;
            color: #323232;
        }
    }
    &-menu {
        display: flex;
        list-style-type: none;
        width: 1100px;
        max-width: 1100px;
        justify-content: space-between;
        &__link {
            font-size: 16px;
            color: #323232;
            text-decoration: none;
        }
    }
    &__logo {
        display: block;
        margin-right: 55px;
    }
    &-catalog {
        &-btn {
            margin-right: 10px;
            display: flex;
            align-items: center;
            border: 2px solid #323232;
            border-radius: 10px;
            font-weight: 400;
            font-size: 20px;
            color: #323232;
            padding: 11px 10px 11px 15px;
            cursor: pointer;
            transition: all .3s ease;
            user-select: none;
            &__figure {
                width: 28px;
                height: 20px;
                position: relative;
                margin-right: 12px;

                &:before,
                &:after {
                    content: '';
                }
                span,
                &:before,
                &:after {
                    display: block;
                    width: 100%;
                    height: 3px;
                    background: #323232;
                    position: absolute;
                    transition: transform .3s ease;
                }
                &:before {
                    top: 0;
                }
                span {
                    top: 8px;
                }
                &:after {
                    bottom: 0;
                }
            }
            &--active {
                background: #FF7200;
                border-color: transparent;
                .header-catalog-btn__text {
                    color: white;
                }
                .header-catalog-btn__figure {
                    span {
                        transform: scale(0);
                    }
                    &:before {
                        top: 8px;
                        transform: rotate(-45deg);
                        background: #FFFFFF;
                    }
                    &:after {
                        bottom: 9px;
                        transform: rotate(45deg);
                        background: #FFFFFF;
                    }
                }
            }
        }
    }
    &-search {
        margin-right: 10px;
        border: 1px solid #9A9899;
        border-radius: 5px;
        display: flex;
        width: 484px;
        max-width: 484px;
        &__input {
            padding-left: 17px;
            border-radius: 5px;
            border: none;
            height: 100%;
            outline: none;
            width: 100%;
            &:placeholder {
                color: #9A9899;
            }
            &-wrap {
                flex-basis: 87%;
                height: 50px;
            }
        }
        &__btn {
            padding-right: 14px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            position: relative;
            flex-basis: 13%;
            &:before {
                content: '';
                position: absolute;
                width: 1px;
                height: 80%;
                top: 10%;
                left: 0;
                background-color: #9A9899;
            }
        }
    }
    &-navigation {
        display: flex;
        &-item {
            margin-right: 34px;
            display: block;
            text-decoration: none;
            &__icon {
                display: flex;
                justify-content: center;
            }
            &__title {
                margin-top: 3px;
                font-size: 16px;
                color: #323232;
                text-decoration: none;
                text-align: center;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &-big {
        &-menu {
            padding: 0 40px 20px 0;
            display: flex;
            background: white;
            // height: 100vh;
            &-item-wrap {
                position: absolute;
                z-index: 100;
                top: 0;
                left: 0;
            }
            &-wrap {
                .container {
                    position: relative;
                }
            }
            &-inner {
                display: none;
            }
            &-left {
                padding: 20px 0 0 0;
                margin-right: 30px;
                background: #F8F8F8;
                // padding-right: 10px;
                // padding-right: ;
                &__title, &-list__item {
                    padding-left: 48px;
                }
                &__title {
                    display: inline-block;
                    margin-bottom: 20px;
                    font-weight: 700;
                    font-size: 16px;
                    color: #323232;
                    text-decoration: none;
                }
                &-list {
                    max-height: 745px;
                    overflow: auto;
                    list-style-type: none;
                    &__item {
                        padding-right: 10px;
                        padding-top: 8px;
                        padding-bottom: 8px;
                        // padding-right: 20px !important;
                        // margin-bottom: 15px;
                        // &:last-child {
                        //     margin-bottom: 0;
                        // }
                    }
                    &__link {
                        white-space: nowrap;
                        text-decoration: none;
                        font-size: 16px;
                        color: #323232;
                        &:hover {
                            color: #FF7200;
                        }
                    }
                }
            }
            &-right {
                padding-top: 20px;
                // padding-left: 30px;
                max-width: 800px;
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                &-wrap {
                    margin-right: -90px;
                    flex-wrap: wrap;
                    display: flex;
                }
                &-item {
                    margin-right: 100px;
                    margin-bottom: 50px;
                    flex-basis: 18%;
                    &--two-title &__title {
                        margin-bottom: 30px;
                    }
                    &__title {
                        display: inline-block;
                        margin-bottom: 20px;
                        font-weight: 700;
                        font-size: 16px;
                        color: #323232;
                        text-decoration: none;
                    }
                    &-list {
                        list-style-type: none;
                        &__item {
                            margin-bottom: 10px;
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                        &__link {
                            font-size: 16px;
                            color: #9A9899;
                            text-decoration: none;
                        }
                    }
                }
            }
            &-breadcrumps {
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 10px;
                &-item {
                    margin-bottom: 10px;
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    color: #9A9899;
                    text-decoration: none;
                    margin-right: 5px;
                    &:after {
                        content: '';
                        display: block;
                        width: 2px;
                        height: 2px;
                        background-color: #9A9899;
                        border-radius: 100%;
                        margin-left: 5px;
                    }
                    &:last-child:after {
                        display: none;
                    }
                }
            }
            &--mobile {
                width: 100%;
                display: block;
                &-wrap {
                    width: 100%;
                }
                .header-big-menu {
                    &__title {
                        font-weight: 700;
                        font-size: 16px;
                        color: #323232;
                        margin-bottom: 15px;
                    }
                    &-list {
                        list-style-type: none;
                        &__item {
                            &-inner {
                                padding: 7px 0;
                                transition: background .3s ease;
                            }
                            // padding: 7px 0;
                            // margin-bottom: 15px;
                            position: relative;
                            &--sale {
                                font-weight: 700;
                            }
                            & > .header-big-menu-list {
                                display: none;
                                margin: 5px 0;
                                .header-big-menu-list__item {
                                    padding-left: 0 !important;
                                    padding-right: 0 !important;
                                }
                                .header-big-menu-list__arrow {
                                    right: 10px;
                                }
                                .header-big-menu-list__link {
                                    font-size: 12px;
                                    color: #9A9899;
                                }
                            }
                            &--active {
                                & > .header-big-menu-list__item-inner {
                                    background: #F1EFF0;
                                }
                                & > .header-big-menu-list__item-inner .header-big-menu-list__link {
                                    color: #FF7200 !important;
                                }
                                & > .header-big-menu-list__arrow {
                                    transform: rotate(90deg);
                                }
                            }
                            &--parent {
                                & > .header-big-menu-list__arrow {
                                    display: block;
                                }
                            }
                        }
                        &__link {
                            font-size: 15px;
                            color: #323232;
                            text-decoration: none;
                            padding-right: 20px;
                            transition: color .3s ease;
                        }
                        &__arrow {
                            display: none;
                            top: 10px;
                            // top: calc(50% - 7px);
                            right: 10px;
                            position: absolute;
                            width: 15px;
                            height: 15px;
                            background: url('../img/icons/arrow-menu.svg') center center/auto no-repeat;
                            transition: transform .3s ease;
                            // &:before,
                            // &:after {
                            //     content: '';
                            //     display: block;
                            //     width: 100%;
                            //     height: 2px;
                            //     background: #9A9899;
                            //     position: absolute;
                            // }
                            // &:before {
                            //     top: 2px;
                            //     transform: rotate(45deg);
                            // }
                            // &:after {
                            //     bottom: 1px;
                            //     transform: rotate(-45deg);
                            // }
                        }
                    }
                }
            }
        }
    }
    &-desktop {
        display: none;
    }
    &-mobile {
        &-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &:first-child {
                margin-bottom: 10px;
            }
            &:last-child {
                padding: 0 30px;
            }
        }
        &-location {
            display: flex;
            align-items: center;
        }
        &-phone {
            margin-left: 70px;
        }
    }
}
.top-panel {
    font-family: 'Open Sans';
    font-size: 14px;
    color: #FFFFFF;
    display: none;
    .container {
        padding: 0;
    }
    &-inner {
        background: #FF8E00;
        padding: 6.5px 0;
    }
    &-body {
        display: flex;
        justify-content: space-between;
        max-width: 700px;
        margin: 0 auto;
    }
    &-link {
        text-align: center;
    }
    &-time {
        display: flex;
        align-items: center;
    }
    &-item {
        &__title {
            margin-bottom: 3px;
        }
        &__subtitle {
            font-size: 16px;
        }
        &__img {
            margin-right: 10px;
        }
    }
}