.footer{padding:0!important}.footer .top-content{padding-top:35px!important}.footer .ymarket-reviews-footer{background:#fff;padding:15px 0 0;border-top:solid 1px #bababa}.n-shop{display:inline-block;float:left;max-width:250px}.carousel-footer{display:inline-block;width:auto;max-width:899px}.n-shop .n-shop-headline__header{border-top:none;margin-top:0;padding-top:20px;margin-bottom:9px}.n-shop .n-shop-headline__header .title{padding:0;font-size:22px;line-height:22px;font-weight:600;margin:0;color:#4a4747;letter-spacing:.05px}.n-shop .n-shop-headline__body .n-rating-stars{display:block;vertical-align:middle;float:left;margin-top:7px}.n-shop .n-shop-headline__body .n-rating-stars__item{width:20px;height:20px;margin-right:-2px}.n-shop .n-shop-headline__rating-logo{background:url(/images/yandex-market.png);width:300px;height:35px;display:block;background-size:auto 100%;background-repeat:no-repeat;position:relative;left:100px}.n-shop .n-shop-headline__footer{margin-top:2px}.n-shop .n-shop-headline__rating-description,.n-shop .n-shop-headline__since{margin-right:17px;color:#4a4747;font-weight:600}.n-shop .n-shop-headline__rating-description{display:inline-block}.n-shop .n-shop-headline__since{display:block}.n-shop .n-shop-headline__since a{color:#4a4747;font-size:12px;font-weight:500}.carousel{margin:26px auto 30px;width:100%}.carousel-footer-wrapper{margin:0 30px;position:relative;border:solid 0 #bababa;padding:15px 10px 5px 50px;overflow:hidden}.carousel-footer-items{position:relative;height:250px;margin:0 auto;overflow:hidden}.carousel-footer-block{height:100%;width:31%;display:inline-block;overflow:hidden;margin-right:15px}.carousel-footer-button-left a i,.carousel-footer-button-right a i{position:relative;top:25%}.carousel-footer-button-left a,.carousel-footer-button-right a{height:232px!important;position:relative;cursor:pointer;text-decoration:none;color:#ff6f04;font-size:50px;display:block}.carousel-footer-button-left a{float:left}.carousel-footer-button-right a{float:right}.carousel-footer-button-right .fa,.carousel-footer-button-left .fa{transform:scale(1,1.5);font-size:50px!important}.carousel-footer-items .n-product-review-user__avatar{margin-right:10px}.carousel-footer-items .n-product-review-user{display:flex;margin-bottom:10px;align-items:center}.carousel-footer-items .n-product-review-user__name,.n-product-review-user__name.link{font:.8em Arial,Helvetica,sans-serif;font-size:15px;color:#2b2b2b}.carousel-footer-items .n-product-review-user__name .link::first-letter,.n-product-review-user__name::first-letter{color:#f80000}.carousel-footer-items .n-product-review-item .n-product-review-item__stat{display:-webkit-box;-webkit-line-clamp:4;-webkit-box-orient:vertical;margin-top:10px;font-size:12px;margin-bottom:5px;overflow:hidden}.carousel-footer-items .n-product-review-item .n-product-review-item__stat b{font-weight:700}.carousel-footer-items dl.n-product-review-item__stat{margin-bottom:0!important;margin-top:0!important}.n-shop .n-shop-headline__body .n-rating-stars,.carousel-footer-items .n-rating-stars{display:inline-block;vertical-align:middle;padding:0 0 3px}.n-rating-stars-item::before,.carousel-footer-items .n-rating-stars__item::before{position:absolute;top:0;bottom:0;left:0;width:50%;content:none;background-size:cover}.n-shop .n-shop-headline__body .n-rating-stars[data-rate="1"] .n-rating-stars-item:nth-child(-n+1),.n-shop .n-shop-headline__body .n-rating-stars[data-rate="2"] .n-rating-stars-item:nth-child(-n+2),.n-shop .n-shop-headline__body .n-rating-stars[data-rate="3"] .n-rating-stars-item:nth-child(-n+3),.n-shop .n-shop-headline__body .n-rating-stars[data-rate="4"] .n-rating-stars-item:nth-child(-n+4),.n-shop .n-shop-headline__body .n-rating-stars[data-rate="5"] .n-rating-stars-item,.n-rating-stars-item::before{background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMSIgaGVpZ2h0PSIzMSIgdmlld0JveD0iMCAwIDMxIDMxIj4gIDxwb2x5Z29uIGZpbGw9IiNGQUI2MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIgcG9pbnRzPSIxNS41IDAgMTkgMTIgMzEgMTIgMjEuNSAxOS4wNzcgMjYgMzEgMTUuNSAyNCA1IDMxIDkuNSAxOS4wNzcgMCAxMiAxMiAxMiIvPjwvc3ZnPg==)}.carousel-footer-items .n-rating-stars[data-rate="1"] .n-rating-stars__item:nth-child(-n+1),.carousel-footer-items .n-rating-stars[data-rate="2"] .n-rating-stars__item:nth-child(-n+2),.carousel-footer-items .n-rating-stars[data-rate="3"] .n-rating-stars__item:nth-child(-n+3),.carousel-footer-items .n-rating-stars[data-rate="4"] .n-rating-stars__item:nth-child(-n+4),.carousel-footer-items .n-rating-stars[data-rate="5"] .n-rating-stars__item,.n-rating-stars__item::before{background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMSIgaGVpZ2h0PSIzMSIgdmlld0JveD0iMCAwIDMxIDMxIj4gIDxwb2x5Z29uIGZpbGw9IiNGQUI2MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIgcG9pbnRzPSIxNS41IDAgMTkgMTIgMzEgMTIgMjEuNSAxOS4wNzcgMjYgMzEgMTUuNSAyNCA1IDMxIDkuNSAxOS4wNzcgMCAxMiAxMiAxMiIvPjwvc3ZnPg==)}.n-rating-stars-item,.carousel-footer-items .n-rating-stars{background-size:cover!important}.n-rating-stars-item{position:relative;display:inline-block;box-sizing:content-box;width:18px;height:18px;vertical-align:middle;border-right:1px solid transparent;background:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMSIgaGVpZ2h0PSIzMSIgdmlld0JveD0iMCAwIDMxIDMxIj4gIDxwb2x5Z29uIGZpbGw9IiNDRkNGQ0YiIGZpbGwtcnVsZT0iZXZlbm9kZCIgcG9pbnRzPSI0OC41IDAgNTIgMTIgNjQgMTIgNTQuNSAxOS4wNzcgNTkgMzEgNDguNSAyNCAzOCAzMSA0Mi41IDE5LjA3NyAzMyAxMiA0NSAxMiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTMzKSIvPjwvc3ZnPg==);background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMSIgaGVpZ2h0PSIzMSIgdmlld0JveD0iMCAwIDMxIDMxIj4gIDxwb2x5Z29uIGZpbGw9IiNDRkNGQ0YiIGZpbGwtcnVsZT0iZXZlbm9kZCIgcG9pbnRzPSI0OC41IDAgNTIgMTIgNjQgMTIgNTQuNSAxOS4wNzcgNTkgMzEgNDguNSAyNCAzOCAzMSA0Mi41IDE5LjA3NyAzMyAxMiA0NSAxMiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTMzKSIvPjwvc3ZnPg==);background-repeat:repeat;background-size:auto auto;background-repeat:no-repeat}.carousel-footer-items .n-rating-stars{position:relative;display:inline-block;box-sizing:content-box;height:13px;vertical-align:middle;border-right:1px solid transparent;background:url(https://kladzdor.ru/bitrix/templates/new_kladzdor/components/bitrix/news.list/ymarket.reviews.footer/stars.svg);background-size:auto auto;background-repeat:no-repeat}i{font-style:normal}.carousel-footer-items .n-product-review-item__rating-label,.n-product-review-item__delivery{vertical-align:bottom;color:#999;line-height:12px;font-size:12px;font-weight:600}.carousel-footer-items .n-product-review-item__rating-label{margin-right:10px;margin-left:6px}.carousel-footer-items .n-product-review-item__delivery{display:block;margin:0}dd,dt,li{margin:0}.carousel-footer-items .n-product-review-item__title{font-weight:700;display:inline-block;margin-right:5px;margin-bottom:0;color:#202020;vertical-align:top}.carousel-footer-items .n-product-review-item__text{line-height:18px;display:inline-block;max-width:100%;word-wrap:break-word;word-break:break-word;white-space:pre-line;color:#202020}.carousel-footer-items .n-product-review-item__footer{display:-ms-flexbox;display:flex;color:#999;align-items:center;margin-top:-7px}.carousel-footer-items .n-product-review-item__footer .n-product-review-item__date-region{color:gray;flex:1 0 auto;font-size:12px;font-weight:600;padding-top:10px}.carousel-footer-items .n-product-review-item__footer .n-review-voting{display:inline-block}.carousel-footer-items .n-review-voting{font-size:13px;color:#878787}.carousel-footer-items .n-review-voting_active_yes .n-review-voting__minus,.carousel-footer-items .n-review-voting_active_yes .n-review-voting__plus{cursor:pointer;display:inline-block}.carousel-footer-items .n-review-voting__minus,.n-review-voting__plus{display:inline-block;margin-right:13px;color:#f81f1f}.carousel-footer-items .n-review-voting__plus{color:#298800}.carousel-footer-items .n-review-voting .image{display:inline-block;width:16px;height:21px;border:none}.carousel-footer-items .n-review-voting__plus .image{margin-right:6px;vertical-align:bottom;background:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxNCAxNSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0yLjg1NiAxNC45MTdjLjA4LjA1NC4xNTUuMDgzLjIyOC4wODNoNS43NzNjLjEzMiAwIC4yODgtLjAzLjQ1My0uMDgydi4wNTNoMy41M2MuNjQgMCAxLjE1OS0uNTMyIDEuMTU5LTEuMTg1VjkuMDc4YzAtLjY1NC0uNTItMS4xODUtMS4xNi0xLjE4NWgtMS45NTRjLS4xODEtMS4xNy0zLjE3OC0zLjc0My0zLjA5Ni00LjczNyAwIDAtLjA4NS0xLjkwNSAwLTIuMzY4LS4wODUtLjI2OC4xMjItLjc4OS0uNzc2LS43ODktLjY3MiAwLTEuMzc4LjUyNy0xLjU1MyAxLS40NDIuNjY5LTEuNTQgMS45MjgtLjc3NiA0LjUyNkgyLjM1NWE0LjM3OCA0LjM3OCAwIDAgMC0uNDk4LjAyNWwtLjI3OC0uMDI1Yy0uODU3IDAtMS41NTIuNzA3LTEuNTUyIDEuNTc5bC4wMDMuMTA0LS4wMDMuMTI0YzAgLjIyNC4wODMuNjg0LjIyNyAxLjI3MkExLjU5MSAxLjU5MSAwIDAgMCAwIDkuNDcyYzAgLjQ3OS4yMDkuOTA3LjU0IDEuMTk3YTEuNTg3IDEuNTg3IDAgMCAwLS41MTEgMS4xNzJjMCAuNTkuMzE4IDEuMTA0Ljc4OSAxLjM3NWwtLjAxMy4yMDRjMCAuODcyLjY5NCAxLjU3OSAxLjU1MiAxLjU3OS4xNzUgMCAuMzQzLS4wMjkuNS0uMDgzdi4wMDF6IiBmaWxsPSIjNDA0MDQwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIG9wYWNpdHk9Ii4zMyIvPgo8L3N2Zz4K) 50% 50% no-repeat}.carousel-footer-items .n-review-voting__minus .image{margin-right:6px;vertical-align:top;background:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxNCAxNSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0yLjg1Ni4wODNBLjQxNC40MTQgMCAwIDEgMy4wODQgMGg1Ljc3M2MuMTMyIDAgLjI4OC4wMy40NTMuMDgyVi4wMjloMy41M2MuNjQgMCAxLjE1OS41MzIgMS4xNTkgMS4xODV2NC43MDhjMCAuNjU0LS41MiAxLjE4NS0xLjE2IDEuMTg1aC0xLjk1NGMtLjE4MSAxLjE3LTMuMTc4IDMuNzQzLTMuMDk2IDQuNzM3IDAgMC0uMDg1IDEuOTA1IDAgMi4zNjgtLjA4NS4yNjguMTIyLjc4OS0uNzc2Ljc4OS0uNjcyIDAtMS4zNzgtLjUyNy0xLjU1My0xLS40NDItLjY2OS0xLjU0LTEuOTI4LS43NzYtNC41MjZIMi4zNTVhNC4zNzggNC4zNzggMCAwIDEtLjQ5OC0uMDI1bC0uMjc4LjAyNWMtLjg1NyAwLTEuNTUyLS43MDctMS41NTItMS41NzlsLjAwMy0uMTA0LS4wMDMtLjEyNGMwLS4yMjQuMDgzLS42ODQuMjI3LTEuMjcyQTEuNTkxIDEuNTkxIDAgMCAxIDAgNS41MjhjMC0uNDc5LjIwOS0uOTA3LjU0LTEuMTk3YTEuNTg3IDEuNTg3IDAgMCAxLS41MTEtMS4xNzJjMC0uNTkuMzE4LTEuMTA0Ljc4OS0xLjM3NUwuODA0IDEuNThjMC0uODcyLjY5NC0xLjU3OSAxLjU1Mi0xLjU3OS4xNzUgMCAuMzQzLjAyOS41LjA4M1YuMDgzeiIgZmlsbD0iIzQwNDA0MCIgZmlsbC1ydWxlPSJldmVub2RkIiBvcGFjaXR5PSIuMzMiLz4KPC9zdmc+Cg==) 50% 50% no-repeat}@media screen and (max-width: 1200px){.footer .ymarket-reviews-footer{padding:15px 0 20px}.carousel-footer-items{height:240px}.carousel-footer-block{width:46%}.carousel-footer{max-width:700px}}@media screen and (max-width: 1000px){.footer .ymarket-reviews-footer{padding:15px 0 20px}.carousel-footer-items{height:240px}.carousel-footer-block{width:46%}.carousel-footer{max-width:600px}}@media screen and (max-width: 890px){.footer .ymarket-reviews-footer{padding:15px 0 20px}.carousel-footer-items{height:240px}.carousel-footer-block{width:100%}.carousel-footer{max-width:500px}}@media screen and (max-width: 800px){.footer .ymarket-reviews-footer{padding:15px 0 20px}.carousel-footer-items{height:240px}.carousel-footer-block{width:100%}.carousel-footer{max-width:400px}}@media screen and (max-width: 700px){.footer .ymarket-reviews-footer{padding:15px 0 20px}.carousel-footer{max-width:499px}.carousel-footer-items{height:200px}.carousel-footer-block{width:100%}.carousel-footer-button-left a,.carousel-footer-button-right a{height:172px!important}.carousel-footer-wrapper{padding:15px 10px 5px}}@media screen and (max-width: 400px){.footer .ymarket-reviews-footer{padding:15px 0 20px}.carousel-footer{max-width:499px}.carousel-footer-items{height:240px}.carousel-footer-block{width:100%}.carousel-footer-button-left a,.carousel-footer-button-right a{height:172px!important}.carousel-footer-wrapper{padding:15px 10px 5px}}

.yandex-reviews {
  overflow: hidden;
}
.footer {
  padding: 0 !important;
}
.footer .top-content{
  padding-top: 35px !important;
}

.footer .ymarket-reviews-footer {
  background: #fff;
  padding: 15px 0 0;
  border-top: solid 1px #bababa;
}

.n-shop {
  display: inline-block;
  float: none;
  max-width: 250px;
}
.carousel-footer {
  display: inline-block;
  width: auto;
  max-width: 969px;
}


/* обертка заголовка "наш рейтинг"*/
.n-shop .n-shop-headline__header {
  border-top: none;
  margin-top: 0;
  padding-top: 20px;
  margin-bottom: 9px;
}
/* заголовок "наш рейтинг" */
.n-shop .n-shop-headline__header .title {
  padding: 0;
  font-size: 22px;
  line-height: 22px;
  font-weight: 600;
  margin: 0;
  color: #4a4747;
  letter-spacing: 0.05px;
}

/* звезды */
.n-shop .n-shop-headline__body .n-rating-stars {
  display: block;
  vertical-align: middle;
  float: left;
  margin-top: 7px;  }
.n-shop .n-shop-headline__body .n-rating-stars__item {
  width: 20px;
  height: 20px;
  margin-right: -2px; }

/* логотип Яндекс.Маркет */
.n-shop .n-shop-headline__rating-logo{
  background: url(../img/yandex-market.png);
  width: 300px;
  height: 35px;
  display: block;
  background-size: auto 100%;
  background-repeat: no-repeat;
  position: relative;
  left: 100px;  }

/* всего отзывов и ссылка на все отзывы */
.n-shop .n-shop-headline__footer {
  margin-top: 2px;  }
.n-shop .n-shop-headline__rating-description, .n-shop .n-shop-headline__since{
  margin-right: 17px;
  color: #4a4747;
  font-weight: 600; }
.n-shop .n-shop-headline__rating-description{
  display: inline-block;
}
.n-shop .n-shop-headline__since{
  display: block;
}
.n-shop .n-shop-headline__since a {
  color: #4a4747;
  font-size: 12px;
  font-weight: 500;  }

/* слайдер */

.carousel {
  margin: 26px auto 30px;
  width: 100%;  }
.carousel-footer-wrapper {
  margin: 0px 30px;
  position: relative;
  border: solid 0px #bababa;
  padding: 15px 10px 5px 50px;
  overflow: hidden;  }
.carousel-footer-items {
  position: relative;
  height: 250px;
  margin: 0 auto;
  overflow: hidden;  }
.carousel-footer-block {
  height: 100%;
  width: 31%;
  display: inline-block;
  overflow: hidden;
  margin-right: 15px;}

/*  стрелки вправо-влево < > */
.carousel-footer-button-left a i, .carousel-footer-button-right a i {
  position: relative;
  top: 25%;  }
.carousel-footer-button-left a, .carousel-footer-button-right a{
  height: 232px !important;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: #ff6f04;
  font-size: 50px;
  display: block;  }
.carousel-footer-button-left a{
  float: left;  }
.carousel-footer-button-right a{
  float: right;  }
.carousel-footer-button-right .fa, .carousel-footer-button-left .fa {
  transform: scale(1,1.5);
  font-size: 50px !important;
}


/* контейнер отзыва*/

/* avatar автора отзыва */
.carousel-footer-items .n-product-review-user__avatar {
  margin-right: 10px;
}

/* имя автора отзыва */
.carousel-footer-items .n-product-review-user {
  display: flex;
  margin-bottom: 10px;
  align-items: center;}

  /* оформление имени */
  .carousel-footer-items .n-product-review-user__name, .n-product-review-user__name.link {
      font: .8em Arial,Helvetica,sans-serif;
      font-size: 15px;
      color: #2b2b2b;}
  .carousel-footer-items .n-product-review-user__name .link::first-letter, .n-product-review-user__name::first-letter {
      color: #f80000;}

/* рейтинг магазина */
.carousel-footer-items .n-product-review-item .n-product-review-item__stat {
  margin-top: 10px;
  font-size: 12px;
  margin-bottom: 5px;
}
.carousel-footer-items dl.n-product-review-item__stat {
  margin-bottom: 0px !important;
  margin-top: 0 !important;
}
  .n-shop .n-shop-headline__body .n-rating-stars, .carousel-footer-items .n-rating-stars {
      display: inline-block;
      vertical-align: middle;
      padding: 0 0 3px;}
  .n-rating-stars-item::before, .carousel-footer-items  .n-rating-stars__item::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 50%;
      content: none;
      background-size: cover;}

  /* звездочки */
  .n-shop .n-shop-headline__body  .n-rating-stars[data-rate="1"] .n-rating-stars-item:nth-child(-n+1),
  .n-shop .n-shop-headline__body .n-rating-stars[data-rate="2"] .n-rating-stars-item:nth-child(-n+2),
  .n-shop .n-shop-headline__body .n-rating-stars[data-rate="3"] .n-rating-stars-item:nth-child(-n+3),
  .n-shop .n-shop-headline__body .n-rating-stars[data-rate="4"] .n-rating-stars-item:nth-child(-n+4),
  .n-shop .n-shop-headline__body .n-rating-stars[data-rate="5"] .n-rating-stars-item, .n-rating-stars-item::before {
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMSIgaGVpZ2h0PSIzMSIgdmlld0JveD0iMCAwIDMxIDMxIj4gIDxwb2x5Z29uIGZpbGw9IiNGQUI2MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIgcG9pbnRzPSIxNS41IDAgMTkgMTIgMzEgMTIgMjEuNSAxOS4wNzcgMjYgMzEgMTUuNSAyNCA1IDMxIDkuNSAxOS4wNzcgMCAxMiAxMiAxMiIvPjwvc3ZnPg==);
  }
  .carousel-footer-items  .n-rating-stars[data-rate="1"] .n-rating-stars__item:nth-child(-n+1),
  .carousel-footer-items .n-rating-stars[data-rate="2"] .n-rating-stars__item:nth-child(-n+2),
  .carousel-footer-items .n-rating-stars[data-rate="3"] .n-rating-stars__item:nth-child(-n+3),
  .carousel-footer-items .n-rating-stars[data-rate="4"] .n-rating-stars__item:nth-child(-n+4),
  .carousel-footer-items .n-rating-stars[data-rate="5"] .n-rating-stars__item, .n-rating-stars__item::before {
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMSIgaGVpZ2h0PSIzMSIgdmlld0JveD0iMCAwIDMxIDMxIj4gIDxwb2x5Z29uIGZpbGw9IiNGQUI2MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIgcG9pbnRzPSIxNS41IDAgMTkgMTIgMzEgMTIgMjEuNSAxOS4wNzcgMjYgMzEgMTUuNSAyNCA1IDMxIDkuNSAxOS4wNzcgMCAxMiAxMiAxMiIvPjwvc3ZnPg==);
  }
  .n-rating-stars-item, .carousel-footer-items .n-rating-stars__item {
      background-size: cover !important;}
  .n-rating-stars-item{
      position: relative;
      display: inline-block;
      box-sizing: content-box;
      width: 18px;
      height: 18px;
      vertical-align: middle;
      border-right: 1px solid transparent;
      background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMSIgaGVpZ2h0PSIzMSIgdmlld0JveD0iMCAwIDMxIDMxIj4gIDxwb2x5Z29uIGZpbGw9IiNDRkNGQ0YiIGZpbGwtcnVsZT0iZXZlbm9kZCIgcG9pbnRzPSI0OC41IDAgNTIgMTIgNjQgMTIgNTQuNSAxOS4wNzcgNTkgMzEgNDguNSAyNCAzOCAzMSA0Mi41IDE5LjA3NyAzMyAxMiA0NSAxMiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTMzKSIvPjwvc3ZnPg==);
      background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMSIgaGVpZ2h0PSIzMSIgdmlld0JveD0iMCAwIDMxIDMxIj4gIDxwb2x5Z29uIGZpbGw9IiNDRkNGQ0YiIGZpbGwtcnVsZT0iZXZlbm9kZCIgcG9pbnRzPSI0OC41IDAgNTIgMTIgNjQgMTIgNTQuNSAxOS4wNzcgNTkgMzEgNDguNSAyNCAzOCAzMSA0Mi41IDE5LjA3NyAzMyAxMiA0NSAxMiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTMzKSIvPjwvc3ZnPg==");
      background-repeat: repeat;
      background-size: auto auto;
      background-repeat: no-repeat;
  }
  .carousel-footer-items .n-rating-stars__item {
      position: relative;
      display: inline-block;
      box-sizing: content-box;
      width: 13px;
      height: 13px;
      vertical-align: middle;
      border-right: 1px solid transparent;
      background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMSIgaGVpZ2h0PSIzMSIgdmlld0JveD0iMCAwIDMxIDMxIj4gIDxwb2x5Z29uIGZpbGw9IiNDRkNGQ0YiIGZpbGwtcnVsZT0iZXZlbm9kZCIgcG9pbnRzPSI0OC41IDAgNTIgMTIgNjQgMTIgNTQuNSAxOS4wNzcgNTkgMzEgNDguNSAyNCAzOCAzMSA0Mi41IDE5LjA3NyAzMyAxMiA0NSAxMiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTMzKSIvPjwvc3ZnPg==);
      background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMSIgaGVpZ2h0PSIzMSIgdmlld0JveD0iMCAwIDMxIDMxIj4gIDxwb2x5Z29uIGZpbGw9IiNDRkNGQ0YiIGZpbGwtcnVsZT0iZXZlbm9kZCIgcG9pbnRzPSI0OC41IDAgNTIgMTIgNjQgMTIgNTQuNSAxOS4wNzcgNTkgMzEgNDguNSAyNCAzOCAzMSA0Mi41IDE5LjA3NyAzMyAxMiA0NSAxMiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTMzKSIvPjwvc3ZnPg==");
      background-repeat: repeat;
      background-size: auto auto;
      background-repeat: no-repeat;}
  i {
      font-style: normal;}
  /* подпись к рейтингу и способ покупки*/
  .carousel-footer-items .n-product-review-item__rating-label, .n-product-review-item__delivery {

      vertical-align: bottom;
      color: #999;
      line-height: 12px;
      font-size: 12px;
      font-weight: 600; }

  .carousel-footer-items .n-product-review-item__rating-label {
      margin-right: 10px;
      margin-left: 6px;
  }

  .carousel-footer-items .n-product-review-item__delivery{
      display: block;
      margin: 0;
  }

/* текст отзыва */
  dd, dt, li {
      margin: 0;}
  .carousel-footer-items .n-product-review-item__title {
      font-weight: 700;
      display: inline-block;
      margin-right: 5px;
      margin-bottom: 0px;
      color: #202020;
      vertical-align: top;}
  .carousel-footer-items .n-product-review-item__text {
      line-height: 18px;
      display: inline-block;
      max-width: 100%;
      word-wrap: break-word;
      word-break: break-word;
      white-space: pre-line;
      color: #202020;}

/* дата отзыва */
  .carousel-footer-items .n-product-review-item__footer {
  display: -ms-flexbox;
  display: flex;
  /*padding-top: 7px;*/
  color: #999;
  align-items: center;
  margin-top: -7px; }
  .carousel-footer-items .n-product-review-item__footer .n-product-review-item__date-region {
  color: gray;
  flex: 1 0 auto;
  font-size: 12px;
  font-weight: 600;
  padding-top: 10px;
  }

/* полезность */
  .carousel-footer-items .n-product-review-item__footer .n-review-voting {
  display: inline-block;
}
  .carousel-footer-items .n-review-voting {
  font-size: 13px;
  color: #878787;
}
  .carousel-footer-items .n-review-voting_active_yes .n-review-voting__minus, .carousel-footer-items .n-review-voting_active_yes .n-review-voting__plus {
      cursor: pointer;
      display: inline-block;
}
  .carousel-footer-items .n-review-voting__minus, .n-review-voting__plus {
  display: inline-block;
  margin-right: 13px;
  color: #f81f1f;
}
  .carousel-footer-items .n-review-voting__plus {
      color: #298800;
  }
  .carousel-footer-items .n-review-voting .image {
  display: inline-block;
  width: 16px;
  height: 21px;
  border: none;
}
  .carousel-footer-items .n-review-voting__plus .image {
      margin-right: 6px;
      vertical-align: bottom;
      background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxNCAxNSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0yLjg1NiAxNC45MTdjLjA4LjA1NC4xNTUuMDgzLjIyOC4wODNoNS43NzNjLjEzMiAwIC4yODgtLjAzLjQ1My0uMDgydi4wNTNoMy41M2MuNjQgMCAxLjE1OS0uNTMyIDEuMTU5LTEuMTg1VjkuMDc4YzAtLjY1NC0uNTItMS4xODUtMS4xNi0xLjE4NWgtMS45NTRjLS4xODEtMS4xNy0zLjE3OC0zLjc0My0zLjA5Ni00LjczNyAwIDAtLjA4NS0xLjkwNSAwLTIuMzY4LS4wODUtLjI2OC4xMjItLjc4OS0uNzc2LS43ODktLjY3MiAwLTEuMzc4LjUyNy0xLjU1MyAxLS40NDIuNjY5LTEuNTQgMS45MjgtLjc3NiA0LjUyNkgyLjM1NWE0LjM3OCA0LjM3OCAwIDAgMC0uNDk4LjAyNWwtLjI3OC0uMDI1Yy0uODU3IDAtMS41NTIuNzA3LTEuNTUyIDEuNTc5bC4wMDMuMTA0LS4wMDMuMTI0YzAgLjIyNC4wODMuNjg0LjIyNyAxLjI3MkExLjU5MSAxLjU5MSAwIDAgMCAwIDkuNDcyYzAgLjQ3OS4yMDkuOTA3LjU0IDEuMTk3YTEuNTg3IDEuNTg3IDAgMCAwLS41MTEgMS4xNzJjMCAuNTkuMzE4IDEuMTA0Ljc4OSAxLjM3NWwtLjAxMy4yMDRjMCAuODcyLjY5NCAxLjU3OSAxLjU1MiAxLjU3OS4xNzUgMCAuMzQzLS4wMjkuNS0uMDgzdi4wMDF6IiBmaWxsPSIjNDA0MDQwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIG9wYWNpdHk9Ii4zMyIvPgo8L3N2Zz4K) 50% 50% no-repeat;
  }
  .carousel-footer-items .n-review-voting__minus .image {
      margin-right: 6px;
      vertical-align: top;
      background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxNCAxNSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0yLjg1Ni4wODNBLjQxNC40MTQgMCAwIDEgMy4wODQgMGg1Ljc3M2MuMTMyIDAgLjI4OC4wMy40NTMuMDgyVi4wMjloMy41M2MuNjQgMCAxLjE1OS41MzIgMS4xNTkgMS4xODV2NC43MDhjMCAuNjU0LS41MiAxLjE4NS0xLjE2IDEuMTg1aC0xLjk1NGMtLjE4MSAxLjE3LTMuMTc4IDMuNzQzLTMuMDk2IDQuNzM3IDAgMC0uMDg1IDEuOTA1IDAgMi4zNjgtLjA4NS4yNjguMTIyLjc4OS0uNzc2Ljc4OS0uNjcyIDAtMS4zNzgtLjUyNy0xLjU1My0xLS40NDItLjY2OS0xLjU0LTEuOTI4LS43NzYtNC41MjZIMi4zNTVhNC4zNzggNC4zNzggMCAwIDEtLjQ5OC0uMDI1bC0uMjc4LjAyNWMtLjg1NyAwLTEuNTUyLS43MDctMS41NTItMS41NzlsLjAwMy0uMTA0LS4wMDMtLjEyNGMwLS4yMjQuMDgzLS42ODQuMjI3LTEuMjcyQTEuNTkxIDEuNTkxIDAgMCAxIDAgNS41MjhjMC0uNDc5LjIwOS0uOTA3LjU0LTEuMTk3YTEuNTg3IDEuNTg3IDAgMCAxLS41MTEtMS4xNzJjMC0uNTkuMzE4LTEuMTA0Ljc4OS0xLjM3NUwuODA0IDEuNThjMC0uODcyLjY5NC0xLjU3OSAxLjU1Mi0xLjU3OS4xNzUgMCAuMzQzLjAyOS41LjA4M1YuMDgzeiIgZmlsbD0iIzQwNDA0MCIgZmlsbC1ydWxlPSJldmVub2RkIiBvcGFjaXR5PSIuMzMiLz4KPC9zdmc+Cg==) 50% 50% no-repeat;
  }


/* адаптивность */

@media screen and (max-width: 1200px) {
  .footer .ymarket-reviews-footer {
      padding: 15px 0 20px;
  }
  .carousel-footer-items {
      height: 240px;
  }
  .carousel-footer-block {
      width: 46%;
  }
  .carousel-footer {
      max-width: 700px;
  }
}

@media screen and (max-width: 1000px) {
  .footer .ymarket-reviews-footer {
      padding: 15px 0 20px;
  }
  .carousel-footer-items {
      height: 240px;
  }
  .carousel-footer-block {
      width: 46%;
  }
  .carousel-footer {
      max-width: 600px;
  }
}

@media screen and (max-width: 890px) {
  .footer .ymarket-reviews-footer {
      padding: 15px 0 20px;
  }
  .carousel-footer-items {
      height: 240px;
  }
  .carousel-footer-block {
      width: 100%;
  }
  .carousel-footer {
      max-width: 500px;
  }
}

@media screen and (max-width: 800px) {
  .footer .ymarket-reviews-footer {
      padding: 15px 0 20px;
  }
  .carousel-footer-items {
      height: 240px;
  }
  .carousel-footer-block {
      width: 100%;
  }
  .carousel-footer {
      max-width: 400px;
  }
}

@media screen and (max-width: 700px) {
  .footer .ymarket-reviews-footer {
      padding: 15px 0 20px;
  }
  .carousel-footer {
      max-width: 499px;
  }
  .carousel-footer-items {
      height: 200px;
  }
  .carousel-footer-block {
      width: 100%;
  }
  .carousel-footer-button-left a, .carousel-footer-button-right a {
      height: 172px !important;
  }
  .carousel-footer-wrapper {
      padding: 15px 10px 5px 10px;
  }
}


@media screen and (max-width: 400px) {
  .footer .ymarket-reviews-footer {
      padding: 15px 0 20px;
  }
  .carousel-footer {
      max-width: 499px;
  }
  .carousel-footer-items {
      height: 240px;
  }
  .carousel-footer-block {
      width: 100%;
  }
  .carousel-footer-button-left a, .carousel-footer-button-right a {
      height: 172px !important;
  }
  .carousel-footer-wrapper {
      padding: 15px 10px 5px 10px;
  }
}
.yandex-reviews {
  display: flex;
}
.n-rating-stars {
  display: block;
}

@media screen and (max-width: 575px) {
  .yandex-reviews {
    flex-wrap: wrap;
  }
}

// @media screen and (max-width: 1320px) {
//   .carousel-footer {
//     max-width: 809px;
//   }
// }
// @media screen and (max-width: 1184px) {
//   .carousel-footer {
//     max-width: 680px;
//   }
// }