footer.footer-section
    .container
        .footer.footer-desktop
            .footer-row.footer-row--flex
                .footer-cell
                    .footer__logo
                        img(src="assets/img/icons/logo-footer.png", alt="1")
                    .footer-logo__title Интернет-магазин ортопедических товаров "Кладовая Здоровья" 2007-2021. Все права защищены
                .footer-cell
                    .footer-menu
                        .footer-menu__title О компании
                        ul.footer-menu-list
                            li.footer-menu-list__item
                                a(href="#").footer-menu-list__link О нас
                            li.footer-menu-list__item
                                a(href="#").footer-menu-list__link Адреса магазинов
                            li.footer-menu-list__item
                                a(href="#").footer-menu-list__link Контакты
                            li.footer-menu-list__item
                                a(href="#").footer-menu-list__link Новости
                            li.footer-menu-list__item
                                a(href="#").footer-menu-list__link Пользовательское соглашение
                            li.footer-menu-list__item
                                a(href="#").footer-menu-list__link Вакансии
                            li.footer-menu-list__item
                                a(href="#").footer-menu-list__link Бренды
                            li.footer-menu-list__item
                                a(href="#").footer-menu-list__link Компенсация от ФСС
                            li.footer-menu-list__item
                                a(href="#").footer-menu-list__link Франчайзинг
                .footer-cell
                    .footer-menu
                        .footer-menu__title Покупателям
                        ul.footer-menu-list
                            li.footer-menu-list__item
                                a(href="#").footer-menu-list__link Доставка
                            li.footer-menu-list__item
                                a(href="#").footer-menu-list__link Возврат
                            li.footer-menu-list__item
                                a(href="#").footer-menu-list__link Оплата
                            li.footer-menu-list__item
                                a(href="#").footer-menu-list__link Гарантия
                            li.footer-menu-list__item
                                a(href="#").footer-menu-list__link Акции
                            li.footer-menu-list__item
                                a(href="#").footer-menu-list__link Купить оптом
                            li.footer-menu-list__item
                                a(href="#").footer-menu-list__link Изготовление индивидуальных стелек
                .footer-cell
                    .footer-menu
                        .footer-menu__title Свяжитесь с нами
                        ul.footer-menu-list
                            li.footer-menu-list__item
                                a(href="#").footer-menu-list__link 8 800 555 41 57
                            li.footer-menu-list__item
                                a(href="#").footer-menu-list__link webshop@kladzdor.ru
                            li.footer-menu-list__item
                                a(href="#").footer-menu-list__link Обратная связь  
                            li.footer-menu-list__item
                                span.footer-menu-list__link Ежедневно 9:00 - 20:00
                            li.footer-menu-list__item
                                span.footer-menu-list__link Без выходных
                        .footer-socials-icons
                            a(href="#").footer-socials-icons__img
                                img(src="assets/img/footer/vk.png", alt="1")
                            a(href="#").footer-socials-icons__img
                                img(src="assets/img/footer/inst.png", alt="1")
                            a(href="#").footer-socials-icons__img
                                img(src="assets/img/footer/fb.png", alt="1")
                            a(href="#").footer-socials-icons__img
                                img(src="assets/img/footer/ok.png", alt="1")
                            a(href="#").footer-socials-icons__img
                                img(src="assets/img/footer/youtube.png", alt="1")
            .footer-row
                .footer-cards
                    .footer-cards__item
                        img(src="assets/img/footer/visa.png", alt="")
                    .footer-cards__item
                        img(src="assets/img/footer/mir.png", alt="")
                    .footer-cards__item
                        img(src="assets/img/footer/ms.png", alt="")
            .footer-row
                hr.footer-line
            .footer-row
                p.footer-bot-title ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ, ПЕРЕД ИСПОЛЬЗОВАНИЕМ НЕОБХОДИМО ОЗНАКОМИТЬСЯ С ИНСТРУКЦИЕЙ И ПРОКОНСУЛЬТИРОВАТЬСЯ СО СПЕЦИАЛИСТОМ
                p.footer-bot-subtitle Информация, размещённая на сайте, носит справочный характер и не может считаться консультацией медицинского работника или заменить её.
        .footer.footer-mobile
            .footer-row
                .footer-cell
                    .footer__logo
                        img(src="assets/img/icons/logo-footer.png", alt="1")
            .footer-row
                .footer-cell
                    a(href="#").footer-shops Адреса магазинов
            .footer-row
                .footer-cell
                    ul.footer-list
                        li.footer-list__item
                            a(href="#").footer-list__link О компании
                            span.footer-list__arrow
                            ul.footer-list
                                li.footer-list__item
                                    a(href="#").footer-list__link asdasd
                                li.footer-list__item
                                    a(href="#").footer-list__link asdasd
                                li.footer-list__item
                                    a(href="#").footer-list__link asdasd
                                li.footer-list__item
                                    a(href="#").footer-list__link asdasd
                                li.footer-list__item
                                    a(href="#").footer-list__link asdasd
                    ul.footer-list
                        li.footer-list__item
                            a(href="#").footer-list__link Покупателям
                            span.footer-list__arrow
                            ul.footer-list
                                li.footer-list__item
                                    a(href="#").footer-list__link asdasd
                                li.footer-list__item
                                    a(href="#").footer-list__link asdasd
                                li.footer-list__item
                                    a(href="#").footer-list__link asdasd
                                li.footer-list__item
                                    a(href="#").footer-list__link asdasd
                                li.footer-list__item
                                    a(href="#").footer-list__link asdasd
                    ul.footer-list.footer-list-customer
                        li.footer-list__item
                            a(href="#").footer-list__link Свяжитесь с нами
                            ul.footer-list-customer-wrap
                                li.footer-list__item
                                    a(href="#").footer-list__link 8 800 555 41 57
                                li.footer-list__item
                                    a(href="#").footer-list__link webshop@kladzdor.ru
                                li.footer-list__item
                                    a(href="#").footer-list__link Обратная связь  
                                li.footer-list__item
                                    a(href="#").footer-list__link Ежедневно 9:00 - 20:00
                                li.footer-list__item
                                    a(href="#").footer-list__link Без выходных
            .footer-row
                .footer-cell
                    .footer-socials-icons
                        a(href="#").footer-socials-icons__img
                            img(src="assets/img/footer/vk.png", alt="1")
                        a(href="#").footer-socials-icons__img
                            img(src="assets/img/footer/inst.png", alt="1")
                        a(href="#").footer-socials-icons__img
                            img(src="assets/img/footer/fb.png", alt="1")
                        a(href="#").footer-socials-icons__img
                            img(src="assets/img/footer/ok.png", alt="1")
                        a(href="#").footer-socials-icons__img
                            img(src="assets/img/footer/youtube.png", alt="1")
            .footer-row
                .footer-cell
                    .footer-text Интернет-магазин ортопедических товаров "Кладовая Здоровья" 2007-2021. Все права защищены
                    .footer-text.footer-text--uppercase ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ, ПЕРЕД ИСПОЛЬЗОВАНИЕМ НЕОБХОДИМО ОЗНАКОМИТЬСЯ С ИНСТРУКЦИЕЙ И ПРОКОНСУЛЬТИРОВАТЬСЯ СО СПЕЦИАЛИСТОМ
                    .footer-text Информация, размещённая на сайте, носит справочный характер и не может считаться консультацией медицинского работника или заменить её.
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
script(src="assets/js/tiny-slider.js") 
script(src="assets/js/app.min.js")